.button {
    border: 1px solid transparent;
    border-radius: 4px;
}

.button--primary {
    min-width: 216px;
    height: 50px;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    @include font (700, 16px, 1.86, 0.06em);

    transition: background-color var(--transition);
    &:hover,
    &:focus {
    background-color: #188CE8;
    }
}

.button--secondary {
    padding: 6px 22px;
    color: var(--secondary-text-color);
    background-color: var(--secondary-background-color);
    @include font (500, 16px, 1.63, 0.03em);

    transition: background-color var(--transition),
                color var(--transition),
                box-shadow var(--transition);
    &:hover,
    &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

