.hero {
    max-width: 100%;
    height: 400px;
    padding: 118px 0;

    @include mobile {
        max-width: 480px;
    }

    @include tablet {
        max-width: 768px;
    }

    @include desktop {
        max-width: 1600px;
        height: 600px;
        padding: 200px 0;
    }

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #C4C4C4;

    background-image: var(--grad),
    url(../images/hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include retina {
            background-image: var(--grad),
                url(../images/hero-bg-mob-2x.jpg);
        }

    @include mobile {
        background-image: var(--grad),
        url(../images/hero-bg-tab.jpg);
        @include retina {
            background-image: var(--grad),
                url(../images/hero-bg-tab-2x.jpg);
        }
    }

    @include tablet {
        background-image: var(--grad),
        url(../images/Hero.jpg);
        @include retina {
            background-image: var(--grad),
                url(../images/Hero-2x.jpg);
        }
    }
}

.hero__title {
    max-width: 360px;
    @include desktop {
        max-width: 696px;
    }

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    color: var(--primary-white-color);
    @include font (900, 26px, 1.6, 0.06em);
    text-transform: uppercase;

    @include desktop {
        @include font (900, 44px, 1.36, 0.06em);  
    }
}


