.directions {
    @media screen and (max-width: 1200px) {
    display: none;
}
}

.directions__list {
    display: flex;
    gap: var(--card-set-gap);
}

.directions__link {
    position: relative;
    text-decoration: none;
}

.directions__label {
    position: absolute;
    bottom: 0;

    @include flex;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.directions__subtitle {
    @include font (700, 14px, 1.14, 0.03em);
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}