.team {
    background-color: var(--secondary-background-color);
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--card-set-gap);

    @include font (null, 16px, 1.12, null);
}

.team__item {
    width: 100%;

    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px) {
        width: calc((100% - var(--card-set-gap)) / 2);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 3 * var(--card-set-gap)) / 4);
    }
}

.team__description {
    padding: 30px 0;
    text-align: center;
}

.team__subtitle {
    margin-bottom: 10px;

    color: var(--secondary-text-color);
    @include font (500, 16px, null, null);
}

.team__text {
    margin-bottom: 16px;
}

.soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.soc-list__item {
    width: 44px;
    height: 44px;
}

.soc-list__link {
    @include flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-background-color);

    transition: background-color var(--transition);
    &:hover,
    &:focus {
            background-color: var(--accent-color);
        }
}

.soc-list__icon {
    fill: var(--icon-color);
    width: 20px;
    height: 20px;

    transition: fill var(--transition);
    .soc-list__link:hover &,
    .soc-list__link:focus & {
    fill: var(--primary-white-color);
    }
}

